node-red/Currency Management
[{"id":"685c51cb.4919a","type":"tab","label":"Currency Management","disabled":false,"info":""},{"id":"c69003a9.c1b9d","type":"inject","z":"685c51cb.4919a","name":"","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":40,"wires":[["3e260173.d4065e"]]},{"id":"3e260173.d4065e","type":"http request","z":"685c51cb.4919a","name":"Get Currency Exchange","method":"GET","ret":"txt","url":"http://data.fixer.io/api/latest?access_key=e80916b1090133cc6a56148fa04bd592&symbols=USD,INR","tls":"","x":330,"y":40,"wires":[["edd1950a.071238"]]},{"id":"edd1950a.071238","type":"json","z":"685c51cb.4919a","name":"","property":"payload","action":"","pretty":false,"x":530,"y":40,"wires":[["6cd91879.7fe008"]]},{"id":"6cd91879.7fe008","type":"function","z":"685c51cb.4919a","name":"Process Exchange Rates","func":"var input = msg.payload;\nif(input.success)\n{\n    var base = input.base;\n    var INRrate = input.rates.INR;\n    var USDrate = input.rates.USD;\n    msg.payload = \"Exchange Rates\\n\\n1EUR = \"+(Math.round(USDrate * 100) / 100)+\" USD\\n\";\n    msg.payload += \"1EUR = \"+(Math.round(INRrate * 100) / 100)+\" INR\\n\";\n    var INRUSD = input.rates.INR/input.rates.USD;\n    msg.payload += \"1USD = \"+(Math.round(INRUSD * 100) / 100)+\" INR\";\n    global.set(\"ExchangeRates\", msg.payload);\n}\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":40,"wires":[[]]}]