node-red/Currency Management
[{"id":"c85e028.7603c","type":"tab","label":"Currency Management","disabled":false,"info":""},{"id":"60457696.b7a698","type":"inject","z":"c85e028.7603c","name":"","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":40,"wires":[["3c0a14f7.cc5f3c"]]},{"id":"3c0a14f7.cc5f3c","type":"http request","z":"c85e028.7603c","name":"Get Currency Exchange","method":"GET","ret":"txt","url":"http://data.fixer.io/api/latest?access_key=e80916b1090133cc6a56148fa04bd592&symbols=USD,INR","tls":"","x":330,"y":40,"wires":[["501a5e19.5a0a4"]]},{"id":"501a5e19.5a0a4","type":"json","z":"c85e028.7603c","name":"","property":"payload","action":"","pretty":false,"x":530,"y":40,"wires":[["f98dad2b.4216"]]},{"id":"f98dad2b.4216","type":"function","z":"c85e028.7603c","name":"Process Exchange Rates","func":"var input = msg.payload;\nif(input.success)\n{\n    var base = input.base;\n    var INRrate = input.rates.INR;\n    var USDrate = input.rates.USD;\n    msg.payload = \"Exchange Rates\\n\\n1EUR = \"+(Math.round(USDrate * 100) / 100)+\" USD\\n\";\n    msg.payload += \"1EUR = \"+(Math.round(INRrate * 100) / 100)+\" INR\\n\";\n    var INRUSD = input.rates.INR/input.rates.USD;\n    msg.payload += \"1USD = \"+(Math.round(INRUSD * 100) / 100)+\" INR\";\n    global.set(\"ExchangeRates\", msg.payload);\n}\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":40,"wires":[[]]}]