node-red/Internet Clock
[{"id":"46e2f44f.fd300c","type":"tab","label":"Internet Clock","disabled":false,"info":""},{"id":"4b29ee47.3185","type":"inject","z":"46e2f44f.fd300c","name":"","topic":"","payload":"menuSelected","payloadType":"global","repeat":"1","crontab":"","once":true,"onceDelay":"1","x":160,"y":139,"wires":[["f2d43574.f65218","5bf63685.1f3ed8"]]},{"id":"f2d43574.f65218","type":"function","z":"46e2f44f.fd300c","name":"TimeStampToTime","func":"if(!global.get(\"notificationPause\"))\n    switch(msg.payload)\n    {\n        case \"IndiaTime\":\n            msg.payload = \"\\n     India\\n\"+global.get(\"IndiaTime\");\n            return msg;\n        break;\n        case \"NYTime\":\n            msg.payload = \"\\n     New York\\n\"+global.get(\"NYTime\");\n            return msg;\n        break;\n        case \"ChicagoTime\":\n            msg.payload = \"\\n     Chicago\\n\"+global.get(\"ChicagoTime\");\n            return msg;\n        break;\n        case \"weatherBangalore\":\n            msg.payload = \"Weather Report:\\n\"+global.get(\"weatherBangalore\");\n            return msg;\n        break;\n        case \"weatherDelhi\":\n            msg.payload = \"Weather Report:\\n\"+global.get(\"weatherDelhi\");\n            return msg;\n        break;\n        case \"weatherLucknow\":\n            msg.payload = \"Weather Report:\\n\"+global.get(\"weatherLucknow\");\n            return msg;\n        break;\n        case \"weatherMeerut\":\n            msg.payload = \"Weather Report:\\n\"+global.get(\"weatherMeerut\");\n            return msg;\n        break;\n        case \"weatherHardoi\":\n            msg.payload = \"Weather Report:\\n\"+global.get(\"weatherHardoi\");\n            return msg;\n        break;\n        case \"weatherBhubaneswar\":\n            msg.payload = \"Weather Report:\\n\"+global.get(\"weatherBhubaneswar\");\n            return msg;\n        break;\n        case \"weatherKolkata\":\n            msg.payload = \"Weather Report:\\n\"+global.get(\"weatherKolkata\");\n            return msg;\n        break;\n        case \"weatherMangalore\":\n            msg.payload = \"Weather Report:\\n\"+global.get(\"weatherMangalore\");\n            return msg;\n        break;\n        case \"weatherChicago\":\n            msg.payload = \"Weather Report:\\n\"+global.get(\"weatherChicago\");\n            return msg;\n        break;\n        case \"weatherNewYork\":\n            msg.payload = \"Weather Report:\\n\"+global.get(\"weatherNewYork\");\n            return msg;\n        break;\n        case \"ExchangeRates\":\n            msg.payload = global.get('ExchangeRates');\n            return msg;\n        break;\n        case \"notification\":\n            msg.payload = global.get('notification');\n            if(msg.payload == \"\")\n            {\n                msg.payload = \"No Notification\"\n            }\n            return msg;\n        break;\n    }","outputs":1,"noerr":0,"x":410,"y":160,"wires":[["21bb7931.6c4206"]]},{"id":"21bb7931.6c4206","type":"mqtt out","z":"46e2f44f.fd300c","name":"Send to clock","topic":"tableClock-input","qos":"2","retain":"","broker":"5e2fc92.dd48b38","x":680,"y":140,"wires":[]},{"id":"3870d9d7.078776","type":"mqtt in","z":"46e2f44f.fd300c","name":"Data from clock","topic":"tableClock-output","qos":"1","datatype":"auto","broker":"5e2fc92.dd48b38","x":120,"y":260,"wires":[["e0b81f06.9ccae","226a797d.9cb3c6"]]},{"id":"5bf63685.1f3ed8","type":"function","z":"46e2f44f.fd300c","name":"Setting Global Variables","func":"global.set(\"menu\",['IndiaTime','NYTime','ChicagoTime','weatherBangalore', 'weatherDelhi', 'weatherLucknow','weatherMeerut', 'weatherHardoi', 'weatherBhubaneswar','weatherKolkata','weatherMangalore','weatherChicago','weatherNewYork','ExchangeRates','notification']);\nif(global.get(\"menuSelected\") == undefined)\n{\n    global.set(\"menuPointer\", 0);\n    global.set(\"menuSelected\",global.get(\"menu\")[0]);\n}\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":120,"wires":[[]]},{"id":"e0b81f06.9ccae","type":"function","z":"46e2f44f.fd300c","name":"toggle menu","func":"switch(msg.payload)\n{\n    case \"left\":\n        if(global.get(\"menuPointer\") != 0)\n            global.set(\"menuPointer\", (global.get(\"menuPointer\")-1));\n        else\n            global.set(\"menuPointer\", (global.get(\"menu\").length-1));\n    break;\n    case \"right\":\n        if(global.get(\"menuPointer\") != (global.get(\"menu\").length-1))\n            global.set(\"menuPointer\", (global.get(\"menuPointer\")+1));\n        else\n            global.set(\"menuPointer\", 0);        \n    break;\n}\nglobal.set(\"menuSelected\",global.get(\"menu\")[global.get(\"menuPointer\")]);\nmsg.payload = global.get(\"menuSelected\");\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":260,"wires":[["494fd2f3.640d6c"]]},{"id":"63a36bb2.769be4","type":"mqtt in","z":"46e2f44f.fd300c","name":"Data from board","topic":"ESPSENSOR","qos":"2","datatype":"auto","broker":"5e2fc92.dd48b38","x":120,"y":320,"wires":[["d57a6aa7.9f1e98"]]},{"id":"e5630ecd.0b14c","type":"function","z":"46e2f44f.fd300c","name":"filter data","func":"if(msg.payload.d == \"3326186\")\n{\n    global.set(\"sensor\",msg.payload);\n    return msg;\n}","outputs":1,"noerr":0,"x":440,"y":320,"wires":[[]]},{"id":"d57a6aa7.9f1e98","type":"json","z":"46e2f44f.fd300c","name":"","property":"payload","action":"","pretty":false,"x":290,"y":320,"wires":[["e5630ecd.0b14c"]]},{"id":"494fd2f3.640d6c","type":"debug","z":"46e2f44f.fd300c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":489,"y":247,"wires":[]},{"id":"226a797d.9cb3c6","type":"debug","z":"46e2f44f.fd300c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":298,"y":220,"wires":[]},{"id":"5e2fc92.dd48b38","type":"mqtt-broker","z":"","name":"Raspberry Pi","broker":"192.168.0.52","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]