node-red/Internet Clock
[{"id":"d91b9b29.048b58","type":"tab","label":"Internet Clock","disabled":false,"info":""},{"id":"c755b0cf.b50f","type":"inject","z":"d91b9b29.048b58","name":"","topic":"","payload":"menuSelected","payloadType":"global","repeat":"1","crontab":"","once":true,"onceDelay":"1","x":160,"y":139,"wires":[["a9b73492.ed80f8","e141efdf.4df4d"]]},{"id":"a9b73492.ed80f8","type":"function","z":"d91b9b29.048b58","name":"TimeStampToTime","func":"if(!global.get(\"notificationPause\"))\n    switch(msg.payload)\n    {\n        case \"IndiaTime\":\n            msg.payload = \"\\n     India\\n\"+global.get(\"IndiaTime\");\n            return msg;\n        break;\n        case \"NYTime\":\n            msg.payload = \"\\n     New York\\n\"+global.get(\"NYTime\");\n            return msg;\n        break;\n        case \"ChicagoTime\":\n            msg.payload = \"\\n     Chicago\\n\"+global.get(\"ChicagoTime\");\n            return msg;\n        break;\n        case \"weatherBangalore\":\n            msg.payload = \"Weather Report:\\n\"+global.get(\"weatherBangalore\");\n            return msg;\n        break;\n        case \"weatherDelhi\":\n            msg.payload = \"Weather Report:\\n\"+global.get(\"weatherDelhi\");\n            return msg;\n        break;\n        case \"weatherLucknow\":\n            msg.payload = \"Weather Report:\\n\"+global.get(\"weatherLucknow\");\n            return msg;\n        break;\n        case \"weatherMeerut\":\n            msg.payload = \"Weather Report:\\n\"+global.get(\"weatherMeerut\");\n            return msg;\n        break;\n        case \"weatherHardoi\":\n            msg.payload = \"Weather Report:\\n\"+global.get(\"weatherHardoi\");\n            return msg;\n        break;\n        case \"weatherBhubaneswar\":\n            msg.payload = \"Weather Report:\\n\"+global.get(\"weatherBhubaneswar\");\n            return msg;\n        break;\n        case \"weatherKolkata\":\n            msg.payload = \"Weather Report:\\n\"+global.get(\"weatherKolkata\");\n            return msg;\n        break;\n        case \"weatherMangalore\":\n            msg.payload = \"Weather Report:\\n\"+global.get(\"weatherMangalore\");\n            return msg;\n        break;\n        case \"weatherChicago\":\n            msg.payload = \"Weather Report:\\n\"+global.get(\"weatherChicago\");\n            return msg;\n        break;\n        case \"weatherNewYork\":\n            msg.payload = \"Weather Report:\\n\"+global.get(\"weatherNewYork\");\n            return msg;\n        break;\n        case \"ExchangeRates\":\n            msg.payload = global.get('ExchangeRates');\n            return msg;\n        break;\n        case \"notification\":\n            msg.payload = global.get('notification');\n            if(msg.payload == \"\")\n            {\n                msg.payload = \"No Notification\"\n            }\n            return msg;\n        break;\n    }","outputs":1,"noerr":0,"x":410,"y":160,"wires":[["40d4ccc.d597c34"]]},{"id":"40d4ccc.d597c34","type":"mqtt out","z":"d91b9b29.048b58","name":"Send to clock","topic":"tableClock-input","qos":"2","retain":"","broker":"ba2c0f27.53d03","x":680,"y":140,"wires":[]},{"id":"f692b0d6.26eb2","type":"mqtt in","z":"d91b9b29.048b58","name":"Data from clock","topic":"tableClock-output","qos":"1","broker":"ba2c0f27.53d03","x":120,"y":260,"wires":[["caddfbbb.e8e438","67cb21ee.95635"]]},{"id":"e141efdf.4df4d","type":"function","z":"d91b9b29.048b58","name":"Setting Global Variables","func":"global.set(\"menu\",['IndiaTime','NYTime','ChicagoTime','weatherBangalore', 'weatherDelhi', 'weatherLucknow','weatherMeerut', 'weatherHardoi', 'weatherBhubaneswar','weatherKolkata','weatherMangalore','weatherChicago','weatherNewYork','ExchangeRates','notification']);\nif(global.get(\"menuSelected\") == undefined)\n{\n    global.set(\"menuPointer\", 0);\n    global.set(\"menuSelected\",global.get(\"menu\")[0]);\n}\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":120,"wires":[[]]},{"id":"caddfbbb.e8e438","type":"function","z":"d91b9b29.048b58","name":"toggle menu","func":"switch(msg.payload)\n{\n    case \"left\":\n        if(global.get(\"menuPointer\") != 0)\n            global.set(\"menuPointer\", (global.get(\"menuPointer\")-1));\n        else\n            global.set(\"menuPointer\", (global.get(\"menu\").length-1));\n    break;\n    case \"right\":\n        if(global.get(\"menuPointer\") != (global.get(\"menu\").length-1))\n            global.set(\"menuPointer\", (global.get(\"menuPointer\")+1));\n        else\n            global.set(\"menuPointer\", 0);        \n    break;\n}\nglobal.set(\"menuSelected\",global.get(\"menu\")[global.get(\"menuPointer\")]);\nmsg.payload = global.get(\"menuSelected\");\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":260,"wires":[["3178f0bc.bd38c"]]},{"id":"9c661a5c.a6ec48","type":"mqtt in","z":"d91b9b29.048b58","name":"Data from board","topic":"ESPSENSOR","qos":"2","broker":"ba2c0f27.53d03","x":120,"y":320,"wires":[["32563d94.3fbcd2"]]},{"id":"219752d8.d76b3e","type":"function","z":"d91b9b29.048b58","name":"filter data","func":"if(msg.payload.d == \"3326186\")\n{\n    global.set(\"sensor\",msg.payload);\n    return msg;\n}","outputs":1,"noerr":0,"x":440,"y":320,"wires":[[]]},{"id":"32563d94.3fbcd2","type":"json","z":"d91b9b29.048b58","name":"","property":"payload","action":"","pretty":false,"x":290,"y":320,"wires":[["219752d8.d76b3e"]]},{"id":"3178f0bc.bd38c","type":"debug","z":"d91b9b29.048b58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":489,"y":247,"wires":[]},{"id":"67cb21ee.95635","type":"debug","z":"d91b9b29.048b58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":298,"y":220,"wires":[]},{"id":"ba2c0f27.53d03","type":"mqtt-broker","z":"","name":"IoT Connect","broker":"iot-connect.in","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]