node-red/Notification
[{"id":"28a65d69.c89992","type":"tab","label":"Notification","disabled":false,"info":""},{"id":"76763dd1.768124","type":"http in","z":"28a65d69.c89992","name":"","url":"/iftttwebhook","method":"post","upload":false,"swaggerDoc":"","x":219,"y":199,"wires":[["fa988f06.54be6","b8df5268.aa6e9","e4947616.cf8248","25534a9.ef482b6","14eedc3c.ae3244"]]},{"id":"fa988f06.54be6","type":"debug","z":"28a65d69.c89992","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":492,"y":241.00003051757812,"wires":[]},{"id":"b8df5268.aa6e9","type":"http response","z":"28a65d69.c89992","name":"","statusCode":"200","headers":{},"x":476.00006103515625,"y":306.0000305175781,"wires":[]},{"id":"eef28359.7c0bf","type":"mqtt out","z":"28a65d69.c89992","name":"","topic":"tableClock-input","qos":"2","retain":"false","broker":"5e2fc92.dd48b38","x":709.9000244140625,"y":124,"wires":[]},{"id":"25534a9.ef482b6","type":"function","z":"28a65d69.c89992","name":"Print Alert","func":"msg.payload = msg.payload.title.replace(/[^a-zA-Z ]/g, \"\").substring(0, 50);\nglobal.set(\"notificationPause\", true);\nsetTimeout(function(){\n    global.set(\"notificationPause\", false);\n},5000)\nreturn msg;","outputs":1,"noerr":0,"x":473.8999938964844,"y":185.00003051757812,"wires":[["ed9b3e02.8c64"]]},{"id":"ed9b3e02.8c64","type":"mqtt out","z":"28a65d69.c89992","name":"","topic":"tableClock-input","qos":"2","retain":"false","broker":"5e2fc92.dd48b38","x":725.9000244140625,"y":184.00003051757812,"wires":[]},{"id":"e4947616.cf8248","type":"function","z":"28a65d69.c89992","name":"Send Alert","func":"msg.payload = \"ALERT\"\nreturn msg;","outputs":1,"noerr":0,"x":486,"y":123,"wires":[["eef28359.7c0bf"]]},{"id":"14eedc3c.ae3244","type":"function","z":"28a65d69.c89992","name":"Record Notification","func":"not = global.get(\"notifications\");\nif(not != null || not != undefined)\n{\n    if(not.length > 2)\n    {\n        not.pop();\n        not.unshift(msg.payload.title.replace(/[^a-zA-Z ]/g, \"\").substring(-1, 15))\n    }\n    else\n    {\n        not.unshift(msg.payload.title.replace(/[^a-zA-Z ]/g, \"\").substring(-1, 15))\n    }\n}\nelse\n{\n    not = [];\n    not.unshift(msg.payload.title.replace(/[^a-zA-Z ]/g, \"\").substring(-1, 15));\n}\nglobal.set(\"notifications\",not);\nvar str = \"\"\nfor(var i=not.length; i>=0; i--)\n{\n    str = not[i]+\"\\n****************\\n\" + str;\n}\nglobal.set(\"notification\",str)\nmsg.payload = str\nreturn msg;","outputs":1,"noerr":0,"x":504,"y":369,"wires":[["6511972b.7178d8"]]},{"id":"6511972b.7178d8","type":"debug","z":"28a65d69.c89992","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":727,"y":368,"wires":[]},{"id":"d29fe946.ee9578","type":"inject","z":"28a65d69.c89992","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":256,"y":554,"wires":[["df0f20d1.22fb7"]]},{"id":"df0f20d1.22fb7","type":"function","z":"28a65d69.c89992","name":"Clear Notification","func":"global.set(\"notifications\",[])\nglobal.set(\"notification\",\"\")\nmsg.payload = \"NOALERT\"\nreturn msg;","outputs":1,"noerr":0,"x":501,"y":555,"wires":[["de7ca250.ca5ab"]]},{"id":"479fee94.d6a4","type":"inject","z":"28a65d69.c89992","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":218,"y":151,"wires":[["25534a9.ef482b6"]]},{"id":"b1b75c52.9e053","type":"http in","z":"28a65d69.c89992","name":"","url":"/removenotification","method":"get","upload":false,"swaggerDoc":"","x":243,"y":626,"wires":[["df0f20d1.22fb7","85bfaca7.7276f"]]},{"id":"de7ca250.ca5ab","type":"mqtt out","z":"28a65d69.c89992","name":"","topic":"tableClock-input","qos":"2","retain":"false","broker":"5e2fc92.dd48b38","x":737,"y":556,"wires":[]},{"id":"85bfaca7.7276f","type":"http response","z":"28a65d69.c89992","name":"","statusCode":"200","headers":{},"x":522,"y":635,"wires":[]},{"id":"5e2fc92.dd48b38","type":"mqtt-broker","z":"","name":"Raspberry Pi","broker":"192.168.0.52","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]