node-red/Notification
[{"id":"8c2cf4f.bcbdb08","type":"tab","label":"Notification","disabled":false,"info":""},{"id":"1454b36e.cc345d","type":"http in","z":"8c2cf4f.bcbdb08","name":"","url":"/iftttwebhook","method":"post","upload":false,"swaggerDoc":"","x":219,"y":199,"wires":[["e24aad5b.5872c","96166ac0.7a0918","e9b7496b.75fa68","1c29587b.54a5d8","7131e05d.42038"]]},{"id":"e24aad5b.5872c","type":"debug","z":"8c2cf4f.bcbdb08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":492,"y":241.00003051757812,"wires":[]},{"id":"96166ac0.7a0918","type":"http response","z":"8c2cf4f.bcbdb08","name":"","statusCode":"200","headers":{},"x":476.00006103515625,"y":306.0000305175781,"wires":[]},{"id":"b7074587.0068d8","type":"mqtt out","z":"8c2cf4f.bcbdb08","name":"","topic":"tableClock-input","qos":"2","retain":"false","broker":"ba2c0f27.53d03","x":709.9000244140625,"y":124,"wires":[]},{"id":"1c29587b.54a5d8","type":"function","z":"8c2cf4f.bcbdb08","name":"Print Alert","func":"msg.payload = msg.payload.title.substring(0, 50);\nglobal.set(\"notificationPause\", true);\nsetTimeout(function(){\n    global.set(\"notificationPause\", false);\n},5000)\nreturn msg;","outputs":1,"noerr":0,"x":473.8999938964844,"y":185.00003051757812,"wires":[["4031e7d6.ff2d88"]]},{"id":"4031e7d6.ff2d88","type":"mqtt out","z":"8c2cf4f.bcbdb08","name":"","topic":"tableClock-input","qos":"2","retain":"false","broker":"ba2c0f27.53d03","x":703.9000244140625,"y":185.00003051757812,"wires":[]},{"id":"e9b7496b.75fa68","type":"function","z":"8c2cf4f.bcbdb08","name":"Send Alert","func":"msg.payload = \"ALERT\"\nreturn msg;","outputs":1,"noerr":0,"x":486,"y":123,"wires":[["b7074587.0068d8"]]},{"id":"7131e05d.42038","type":"function","z":"8c2cf4f.bcbdb08","name":"Record Notification","func":"not = global.get(\"notifications\");\nif(not != null || not != undefined)\n{\n    if(not.length > 2)\n    {\n        not.pop();\n        not.unshift(msg.payload.title.substring(0, 32))\n    }\n    else\n    {\n        not.unshift(msg.payload.title.substring(0, 32))\n    }\n}\nelse\n{\n    not = [];\n    not.unshift(msg.payload.title.substring(0, 32));\n}\nglobal.set(\"notifications\",not);\nvar str = \"\"\nfor(var i=0; i<not.length; i++)\n{\n    str = not[i]+\"\\n****************\\n\" + str;\n}\nglobal.set(\"notification\",str)\nmsg.payload = str\nreturn msg;","outputs":1,"noerr":0,"x":504,"y":369,"wires":[["81486c22.382f1"]]},{"id":"81486c22.382f1","type":"debug","z":"8c2cf4f.bcbdb08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":727,"y":368,"wires":[]},{"id":"5f7cf900.c9ece8","type":"inject","z":"8c2cf4f.bcbdb08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":256,"y":554,"wires":[["a992ce48.386b2"]]},{"id":"a992ce48.386b2","type":"function","z":"8c2cf4f.bcbdb08","name":"Clear Notification","func":"global.set(\"notifications\",[])\nglobal.set(\"notification\",\"\")\nmsg.payload = \"NOALERT\"\nreturn msg;","outputs":1,"noerr":0,"x":501,"y":555,"wires":[["127b81ca.b1369e"]]},{"id":"5ad84259.33f4ec","type":"inject","z":"8c2cf4f.bcbdb08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":218,"y":151,"wires":[["1c29587b.54a5d8"]]},{"id":"26e21655.e2954a","type":"http in","z":"8c2cf4f.bcbdb08","name":"","url":"/removenotification","method":"get","upload":false,"swaggerDoc":"","x":211,"y":634,"wires":[["a992ce48.386b2"]]},{"id":"127b81ca.b1369e","type":"mqtt out","z":"8c2cf4f.bcbdb08","name":"","topic":"tableClock-input","qos":"2","retain":"false","broker":"ba2c0f27.53d03","x":737,"y":556,"wires":[]},{"id":"ba2c0f27.53d03","type":"mqtt-broker","z":"","name":"IoT Connect","broker":"iot-connect.in","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]