node-red/Time Management
[{"id":"b121f1f.5bf591","type":"tab","label":"Time Management","disabled":false,"info":""},{"id":"18f2a983.f74a76","type":"inject","z":"b121f1f.5bf591","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"1","x":110,"y":40,"wires":[["e4b6f897.780948"]]},{"id":"b8179e68.7ef63","type":"function","z":"b121f1f.5bf591","name":"Time In NY","func":"msg.payload = msg.payload.replace('-','\\n');\nglobal.set(\"NYTime\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":463.00000762939453,"y":40,"wires":[[]]},{"id":"ba825b5d.477a38","type":"inject","z":"b121f1f.5bf591","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"1","x":110,"y":100,"wires":[["f3862f8b.32973"]]},{"id":"7a995caa.3be994","type":"function","z":"b121f1f.5bf591","name":"Time In India","func":"msg.payload = msg.payload.replace('-','\\n');\nglobal.set(\"IndiaTime\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":100,"wires":[[]]},{"id":"514841ae.7b4df","type":"inject","z":"b121f1f.5bf591","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"1","x":110,"y":160,"wires":[["694c311f.0e2"]]},{"id":"2d67f7a1.b6f7e8","type":"function","z":"b121f1f.5bf591","name":"Time In Chicago","func":"msg.payload = msg.payload.replace('-','\\n');\nglobal.set(\"ChicagoTime\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":160,"wires":[[]]},{"id":"e4b6f897.780948","type":"moment","z":"b121f1f.5bf591","name":"NewYork Time","topic":"","input":"payload","inputType":"msg","inTz":"America/New_York","adjAmount":0,"adjType":"days","adjDir":"add","format":"    DD/MM/YYYY-   hh:mm:ss a","locale":"en_GB","output":"payload","outputType":"msg","outTz":"America/New_York","x":280,"y":40,"wires":[["b8179e68.7ef63"]]},{"id":"f3862f8b.32973","type":"moment","z":"b121f1f.5bf591","name":"India Time","topic":"","input":"payload","inputType":"msg","inTz":"Asia/Calcutta","adjAmount":0,"adjType":"days","adjDir":"add","format":"    DD/MM/YYYY-   hh:mm:ss a","locale":"en_GB","output":"payload","outputType":"msg","outTz":"Asia/Calcutta","x":270,"y":100,"wires":[["7a995caa.3be994"]]},{"id":"694c311f.0e2","type":"moment","z":"b121f1f.5bf591","name":"Chicago Time","topic":"","input":"payload","inputType":"msg","inTz":"America/Chicago","adjAmount":0,"adjType":"days","adjDir":"add","format":"    DD/MM/YYYY-   hh:mm:ss a","locale":"en_GB","output":"payload","outputType":"msg","outTz":"America/Chicago","x":280,"y":160,"wires":[["2d67f7a1.b6f7e8"]]}]