node-red/Time Management
[{"id":"76f0bfd3.b22c3","type":"tab","label":"Time Management","disabled":false,"info":""},{"id":"6677322.166cacc","type":"inject","z":"76f0bfd3.b22c3","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"1","x":110,"y":40,"wires":[["f1a6187f.72d2a8"]]},{"id":"e2a01009.db5b6","type":"function","z":"76f0bfd3.b22c3","name":"Time In NY","func":"msg.payload = msg.payload.replace('-','\\n');\nglobal.set(\"NYTime\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":542,"y":40,"wires":[[]]},{"id":"f9d6d83a.29bbb8","type":"inject","z":"76f0bfd3.b22c3","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"1","x":110,"y":100,"wires":[["421e9b9f.ddb014"]]},{"id":"eab747e3.984d58","type":"function","z":"76f0bfd3.b22c3","name":"Time In India","func":"msg.payload = msg.payload.replace('-','\\n');\nglobal.set(\"IndiaTime\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":537,"y":100,"wires":[[]]},{"id":"b2236142.d3cac","type":"inject","z":"76f0bfd3.b22c3","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"1","x":110,"y":160,"wires":[["10085948.50fe77"]]},{"id":"7c372249.ca19ec","type":"function","z":"76f0bfd3.b22c3","name":"Time In Chicago","func":"msg.payload = msg.payload.replace('-','\\n');\nglobal.set(\"ChicagoTime\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":160,"wires":[[]]},{"id":"f1a6187f.72d2a8","type":"moment","z":"76f0bfd3.b22c3","name":"NewYork Time","topic":"","input":"payload","inputType":"msg","inTz":"America/New_York","adjAmount":0,"adjType":"days","adjDir":"add","format":"    DD/MM/YYYY-   hh:mm:ss a","locale":"en_GB","output":"payload","outputType":"msg","outTz":"America/New_York","x":328,"y":40,"wires":[["e2a01009.db5b6"]]},{"id":"421e9b9f.ddb014","type":"moment","z":"76f0bfd3.b22c3","name":"India Time","topic":"","input":"payload","inputType":"msg","inTz":"Asia/Calcutta","adjAmount":0,"adjType":"days","adjDir":"add","format":"    DD/MM/YYYY-   hh:mm:ss a","locale":"en_GB","output":"payload","outputType":"msg","outTz":"Asia/Calcutta","x":326,"y":100,"wires":[["eab747e3.984d58"]]},{"id":"10085948.50fe77","type":"moment","z":"76f0bfd3.b22c3","name":"Chicago Time","topic":"","input":"payload","inputType":"msg","inTz":"America/Chicago","adjAmount":0,"adjType":"days","adjDir":"add","format":"    DD/MM/YYYY-   hh:mm:ss a","locale":"en_GB","output":"payload","outputType":"msg","outTz":"America/Chicago","x":316,"y":160,"wires":[["7c372249.ca19ec"]]}]