node-red/Weather Management
[{"id":"991b8abe.1f66b8","type":"tab","label":"Weather Management","disabled":false,"info":""},{"id":"b49e5008.85761","type":"http request","z":"991b8abe.1f66b8","name":"get weather bangalore","method":"GET","ret":"txt","url":"https://api.openweathermap.org/data/2.5/forecast?q=Bangalore,IN&appid=603178c920d390da4404ab6c074c07ae","tls":"","x":380,"y":360,"wires":[["e45e1bc5.c4c3d8"]]},{"id":"b214d85e.728788","type":"function","z":"991b8abe.1f66b8","name":"save weather","func":"global.set(\"weatherBangalore\",\"City: \"+msg.payload.city.name+\"\\n\"+msg.payload.list[0].weather[0].description+\"\\nTemp: \"+Math.round(msg.payload.list[0].main.temp-273.15)+\" C\\nHumid: \"+Math.round(msg.payload.list[0].main.humidity)+\" %\\nPress: \"+Math.round(msg.payload.list[0].main.pressure)+\" hpa\");\nmsg.payload = msg.payload.list[0].weather[0].description;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":360,"wires":[[]]},{"id":"e45e1bc5.c4c3d8","type":"json","z":"991b8abe.1f66b8","name":"","property":"payload","action":"","pretty":false,"x":570,"y":360,"wires":[["b214d85e.728788"]]},{"id":"326614c9.27927c","type":"inject","z":"991b8abe.1f66b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":360,"wires":[["b49e5008.85761"]]},{"id":"659a4d67.deb8a4","type":"http request","z":"991b8abe.1f66b8","name":"get weather delhi","method":"GET","ret":"txt","url":"https://api.openweathermap.org/data/2.5/forecast?q=Delhi,IN&appid=603178c920d390da4404ab6c074c07ae","tls":"","x":370,"y":60,"wires":[["33a01ec2.d56c52"]]},{"id":"373efcc2.4dde14","type":"function","z":"991b8abe.1f66b8","name":"save weather","func":"global.set(\"weatherDelhi\",\"City: \"+msg.payload.city.name+\"\\n\"+msg.payload.list[0].weather[0].description+\"\\nTemp: \"+Math.round(msg.payload.list[0].main.temp-273.15)+\" C\\nHumid: \"+Math.round(msg.payload.list[0].main.humidity)+\" %\\nPress: \"+Math.round(msg.payload.list[0].main.pressure)+\" hpa\");\nmsg.payload = msg.payload.list[0].weather[0].description;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":60,"wires":[[]]},{"id":"33a01ec2.d56c52","type":"json","z":"991b8abe.1f66b8","name":"","property":"payload","action":"","pretty":false,"x":570,"y":60,"wires":[["373efcc2.4dde14"]]},{"id":"2d062ee9.5069b2","type":"inject","z":"991b8abe.1f66b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":60,"wires":[["659a4d67.deb8a4"]]},{"id":"d7c63085.8ca3f","type":"http request","z":"991b8abe.1f66b8","name":"get weather lucknow","method":"GET","ret":"txt","url":"https://api.openweathermap.org/data/2.5/forecast?q=Lucknow,IN&appid=603178c920d390da4404ab6c074c07ae","tls":"","x":380,"y":120,"wires":[["2b85abf6.4aae74"]]},{"id":"6f8e9f9.6a1c96","type":"function","z":"991b8abe.1f66b8","name":"save weather","func":"global.set(\"weatherLucknow\",\"City: \"+msg.payload.city.name+\"\\n\"+msg.payload.list[0].weather[0].description+\"\\nTemp: \"+Math.round(msg.payload.list[0].main.temp-273.15)+\" C\\nHumid: \"+Math.round(msg.payload.list[0].main.humidity)+\" %\\nPress: \"+Math.round(msg.payload.list[0].main.pressure)+\" hpa\");\nmsg.payload = msg.payload.list[0].weather[0].description;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":120,"wires":[[]]},{"id":"2b85abf6.4aae74","type":"json","z":"991b8abe.1f66b8","name":"","property":"payload","action":"","pretty":false,"x":570,"y":120,"wires":[["6f8e9f9.6a1c96"]]},{"id":"8c181f43.3e7fd","type":"inject","z":"991b8abe.1f66b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":120,"wires":[["d7c63085.8ca3f"]]},{"id":"413563ce.0fd3bc","type":"http request","z":"991b8abe.1f66b8","name":"get weather meerut","method":"GET","ret":"txt","url":"https://api.openweathermap.org/data/2.5/forecast?q=Meerut,IN&appid=603178c920d390da4404ab6c074c07ae","tls":"","x":370,"y":180,"wires":[["ae95bb0f.d5d8b8"]]},{"id":"6862fb4b.375f84","type":"function","z":"991b8abe.1f66b8","name":"save weather","func":"global.set(\"weatherMeerut\",\"City: \"+msg.payload.city.name+\"\\n\"+msg.payload.list[0].weather[0].description+\"\\nTemp: \"+Math.round(msg.payload.list[0].main.temp-273.15)+\" C\\nHumid: \"+Math.round(msg.payload.list[0].main.humidity)+\" %\\nPress: \"+Math.round(msg.payload.list[0].main.pressure)+\" hpa\");\nmsg.payload = msg.payload.list[0].weather[0].description;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":180,"wires":[[]]},{"id":"ae95bb0f.d5d8b8","type":"json","z":"991b8abe.1f66b8","name":"","property":"payload","action":"","pretty":false,"x":570,"y":180,"wires":[["6862fb4b.375f84"]]},{"id":"6459c745.f96ed8","type":"inject","z":"991b8abe.1f66b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":180,"wires":[["413563ce.0fd3bc"]]},{"id":"28e2bfc5.346b2","type":"http request","z":"991b8abe.1f66b8","name":"get weather hardoi","method":"GET","ret":"txt","url":"https://api.openweathermap.org/data/2.5/forecast?q=Hardoi,IN&appid=603178c920d390da4404ab6c074c07ae","tls":"","x":370,"y":240,"wires":[["a66547ae.b31898"]]},{"id":"59ab7e2a.c6967","type":"function","z":"991b8abe.1f66b8","name":"save weather","func":"global.set(\"weatherHardoi\",\"City: \"+msg.payload.city.name+\"\\n\"+msg.payload.list[0].weather[0].description+\"\\nTemp: \"+Math.round(msg.payload.list[0].main.temp-273.15)+\" C\\nHumid: \"+Math.round(msg.payload.list[0].main.humidity)+\" %\\nPress: \"+Math.round(msg.payload.list[0].main.pressure)+\" hpa\");\nmsg.payload = msg.payload.list[0].weather[0].description;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":240,"wires":[[]]},{"id":"a66547ae.b31898","type":"json","z":"991b8abe.1f66b8","name":"","property":"payload","action":"","pretty":false,"x":570,"y":240,"wires":[["59ab7e2a.c6967"]]},{"id":"ff21e201.e026b","type":"inject","z":"991b8abe.1f66b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":240,"wires":[["28e2bfc5.346b2"]]},{"id":"fdd1a349.2c835","type":"http request","z":"991b8abe.1f66b8","name":"get weather bhubaneswar","method":"GET","ret":"txt","url":"https://api.openweathermap.org/data/2.5/forecast?q=Bhubaneswar,IN&appid=603178c920d390da4404ab6c074c07ae","tls":"","x":390,"y":300,"wires":[["3532c46.fe7a23c"]]},{"id":"dd8279bf.06f0e8","type":"function","z":"991b8abe.1f66b8","name":"save weather","func":"global.set(\"weatherBhubaneswar\",\"City:\"+msg.payload.city.name+\"\\n\"+msg.payload.list[0].weather[0].description+\"\\nTemp: \"+Math.round(msg.payload.list[0].main.temp-273.15)+\" C\\nHumid: \"+Math.round(msg.payload.list[0].main.humidity)+\" %\\nPress: \"+Math.round(msg.payload.list[0].main.pressure)+\" hpa\");\nmsg.payload = msg.payload.list[0].weather[0].description;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":300,"wires":[[]]},{"id":"3532c46.fe7a23c","type":"json","z":"991b8abe.1f66b8","name":"","property":"payload","action":"","pretty":false,"x":570,"y":300,"wires":[["dd8279bf.06f0e8"]]},{"id":"c867242d.a3d648","type":"inject","z":"991b8abe.1f66b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":300,"wires":[["fdd1a349.2c835"]]},{"id":"95dc185.c9fabe8","type":"http request","z":"991b8abe.1f66b8","name":"get weather Chicago","method":"GET","ret":"txt","url":"https://api.openweathermap.org/data/2.5/forecast?q=Chicago,US&appid=603178c920d390da4404ab6c074c07ae","tls":"","x":380,"y":420,"wires":[["178bfbea.038704"]]},{"id":"ea5bc256.d833","type":"function","z":"991b8abe.1f66b8","name":"save weather","func":"global.set(\"weatherChicago\",\"City: \"+msg.payload.city.name+\"\\n\"+msg.payload.list[0].weather[0].description+\"\\nTemp: \"+Math.round(msg.payload.list[0].main.temp-273.15)+\" C\\nHumid: \"+Math.round(msg.payload.list[0].main.humidity)+\" %\\nPress: \"+Math.round(msg.payload.list[0].main.pressure)+\" hpa\");\nmsg.payload = msg.payload.list[0].weather[0].description;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":420,"wires":[[]]},{"id":"178bfbea.038704","type":"json","z":"991b8abe.1f66b8","name":"","property":"payload","action":"","pretty":false,"x":570,"y":420,"wires":[["ea5bc256.d833"]]},{"id":"d832624b.ec17d","type":"inject","z":"991b8abe.1f66b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":420,"wires":[["95dc185.c9fabe8"]]},{"id":"87338c91.8db22","type":"http request","z":"991b8abe.1f66b8","name":"get weather NewYork","method":"GET","ret":"txt","url":"https://api.openweathermap.org/data/2.5/forecast?q=New%20York,US&appid=603178c920d390da4404ab6c074c07ae","tls":"","x":380,"y":480,"wires":[["bdea4d1d.f8d98"]]},{"id":"b402b9d6.52ee98","type":"function","z":"991b8abe.1f66b8","name":"save weather","func":"global.set(\"weatherNewYork\",\"City: \"+msg.payload.city.name+\"\\n\"+msg.payload.list[0].weather[0].description+\"\\nTemp: \"+Math.round(msg.payload.list[0].main.temp-273.15)+\" C\\nHumid: \"+Math.round(msg.payload.list[0].main.humidity)+\" %\\nPress: \"+Math.round(msg.payload.list[0].main.pressure)+\" hpa\");\nmsg.payload = msg.payload.list[0].weather[0].description;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":480,"wires":[[]]},{"id":"bdea4d1d.f8d98","type":"json","z":"991b8abe.1f66b8","name":"","property":"payload","action":"","pretty":false,"x":570,"y":480,"wires":[["b402b9d6.52ee98"]]},{"id":"675be4dd.fecdac","type":"inject","z":"991b8abe.1f66b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":480,"wires":[["87338c91.8db22"]]},{"id":"7a6cad42.4066d4","type":"http request","z":"991b8abe.1f66b8","name":"get weather Kolkata","method":"GET","ret":"txt","url":"https://api.openweathermap.org/data/2.5/forecast?q=Kolkata,IN&appid=603178c920d390da4404ab6c074c07ae","tls":"","x":380,"y":540,"wires":[["1f0d1d36.c429c3"]]},{"id":"ff9069c5.4ecd48","type":"function","z":"991b8abe.1f66b8","name":"save weather","func":"global.set(\"weatherKolkata\",\"City: \"+msg.payload.city.name+\"\\n\"+msg.payload.list[0].weather[0].description+\"\\nTemp: \"+Math.round(msg.payload.list[0].main.temp-273.15)+\" C\\nHumid: \"+Math.round(msg.payload.list[0].main.humidity)+\" %\\nPress: \"+Math.round(msg.payload.list[0].main.pressure)+\" hpa\");\nmsg.payload = msg.payload.list[0].weather[0].description;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":540,"wires":[[]]},{"id":"1f0d1d36.c429c3","type":"json","z":"991b8abe.1f66b8","name":"","property":"payload","action":"","pretty":false,"x":570,"y":540,"wires":[["ff9069c5.4ecd48"]]},{"id":"84b67cc8.d23a6","type":"inject","z":"991b8abe.1f66b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":540,"wires":[["7a6cad42.4066d4"]]},{"id":"f6f740da.a1e27","type":"http request","z":"991b8abe.1f66b8","name":"get weather Mangalore","method":"GET","ret":"txt","url":"https://api.openweathermap.org/data/2.5/forecast?q=Mangalore,IN&appid=603178c920d390da4404ab6c074c07ae","tls":"","x":377,"y":596,"wires":[["85be5c41.3ba9e"]]},{"id":"5329fa43.7ed494","type":"function","z":"991b8abe.1f66b8","name":"save weather","func":"global.set(\"weatherMangalore\",\"City: \"+msg.payload.city.name+\"\\n\"+msg.payload.list[0].weather[0].description+\"\\nTemp: \"+Math.round(msg.payload.list[0].main.temp-273.15)+\" C\\nHumid: \"+Math.round(msg.payload.list[0].main.humidity)+\" %\\nPress: \"+Math.round(msg.payload.list[0].main.pressure)+\" hpa\");\nmsg.payload = msg.payload.list[0].weather[0].description;\nreturn msg;","outputs":1,"noerr":0,"x":707,"y":596,"wires":[[]]},{"id":"85be5c41.3ba9e","type":"json","z":"991b8abe.1f66b8","name":"","property":"payload","action":"","pretty":false,"x":567,"y":596,"wires":[["5329fa43.7ed494"]]},{"id":"2ead7a9.f74aa86","type":"inject","z":"991b8abe.1f66b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":167,"y":596,"wires":[["f6f740da.a1e27"]]}]