node-red/Weather Management
[{"id":"d2d36647.b7bc78","type":"tab","label":"Weather Management","disabled":false,"info":""},{"id":"40febcdf.404284","type":"http request","z":"d2d36647.b7bc78","name":"get weather bangalore","method":"GET","ret":"txt","url":"https://api.openweathermap.org/data/2.5/forecast?q=Bangalore,IN&appid=603178c920d390da4404ab6c074c07ae","tls":"","x":380,"y":360,"wires":[["628fb69b.fd8ac8"]]},{"id":"148f67fd.fd65e8","type":"function","z":"d2d36647.b7bc78","name":"save weather","func":"global.set(\"weatherBangalore\",\"City: \"+msg.payload.city.name+\"\\n\"+msg.payload.list[0].weather[0].description+\"\\nTemp: \"+Math.round(msg.payload.list[0].main.temp-273.15)+\" C\\nHumid: \"+Math.round(msg.payload.list[0].main.humidity)+\" %\\nPress: \"+Math.round(msg.payload.list[0].main.pressure)+\" hpa\");\nmsg.payload = msg.payload.list[0].weather[0].description;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":360,"wires":[[]]},{"id":"628fb69b.fd8ac8","type":"json","z":"d2d36647.b7bc78","name":"","property":"payload","action":"","pretty":false,"x":570,"y":360,"wires":[["148f67fd.fd65e8"]]},{"id":"bc27d0a5.4c023","type":"inject","z":"d2d36647.b7bc78","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":360,"wires":[["40febcdf.404284"]]},{"id":"e34776f0.ac0018","type":"http request","z":"d2d36647.b7bc78","name":"get weather delhi","method":"GET","ret":"txt","url":"https://api.openweathermap.org/data/2.5/forecast?q=Delhi,IN&appid=603178c920d390da4404ab6c074c07ae","tls":"","x":370,"y":60,"wires":[["6c44fa68.d02044"]]},{"id":"848d2dc3.dc7b9","type":"function","z":"d2d36647.b7bc78","name":"save weather","func":"global.set(\"weatherDelhi\",\"City: \"+msg.payload.city.name+\"\\n\"+msg.payload.list[0].weather[0].description+\"\\nTemp: \"+Math.round(msg.payload.list[0].main.temp-273.15)+\" C\\nHumid: \"+Math.round(msg.payload.list[0].main.humidity)+\" %\\nPress: \"+Math.round(msg.payload.list[0].main.pressure)+\" hpa\");\nmsg.payload = msg.payload.list[0].weather[0].description;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":60,"wires":[[]]},{"id":"6c44fa68.d02044","type":"json","z":"d2d36647.b7bc78","name":"","property":"payload","action":"","pretty":false,"x":570,"y":60,"wires":[["848d2dc3.dc7b9"]]},{"id":"83fbab40.2267e8","type":"inject","z":"d2d36647.b7bc78","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":60,"wires":[["e34776f0.ac0018"]]},{"id":"3d191fcc.62cc5","type":"http request","z":"d2d36647.b7bc78","name":"get weather lucknow","method":"GET","ret":"txt","url":"https://api.openweathermap.org/data/2.5/forecast?q=Lucknow,IN&appid=603178c920d390da4404ab6c074c07ae","tls":"","x":380,"y":120,"wires":[["a4d7174.58003e8"]]},{"id":"9ca1e58.c116718","type":"function","z":"d2d36647.b7bc78","name":"save weather","func":"global.set(\"weatherLucknow\",\"City: \"+msg.payload.city.name+\"\\n\"+msg.payload.list[0].weather[0].description+\"\\nTemp: \"+Math.round(msg.payload.list[0].main.temp-273.15)+\" C\\nHumid: \"+Math.round(msg.payload.list[0].main.humidity)+\" %\\nPress: \"+Math.round(msg.payload.list[0].main.pressure)+\" hpa\");\nmsg.payload = msg.payload.list[0].weather[0].description;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":120,"wires":[[]]},{"id":"a4d7174.58003e8","type":"json","z":"d2d36647.b7bc78","name":"","property":"payload","action":"","pretty":false,"x":570,"y":120,"wires":[["9ca1e58.c116718"]]},{"id":"6dcda0f.df0b96","type":"inject","z":"d2d36647.b7bc78","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":120,"wires":[["3d191fcc.62cc5"]]},{"id":"619e7547.321a4c","type":"http request","z":"d2d36647.b7bc78","name":"get weather meerut","method":"GET","ret":"txt","url":"https://api.openweathermap.org/data/2.5/forecast?q=Meerut,IN&appid=603178c920d390da4404ab6c074c07ae","tls":"","x":370,"y":180,"wires":[["c7af5d95.c0a53"]]},{"id":"daaecc67.f129c","type":"function","z":"d2d36647.b7bc78","name":"save weather","func":"global.set(\"weatherMeerut\",\"City: \"+msg.payload.city.name+\"\\n\"+msg.payload.list[0].weather[0].description+\"\\nTemp: \"+Math.round(msg.payload.list[0].main.temp-273.15)+\" C\\nHumid: \"+Math.round(msg.payload.list[0].main.humidity)+\" %\\nPress: \"+Math.round(msg.payload.list[0].main.pressure)+\" hpa\");\nmsg.payload = msg.payload.list[0].weather[0].description;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":180,"wires":[[]]},{"id":"c7af5d95.c0a53","type":"json","z":"d2d36647.b7bc78","name":"","property":"payload","action":"","pretty":false,"x":570,"y":180,"wires":[["daaecc67.f129c"]]},{"id":"4f2396c5.2cdbc8","type":"inject","z":"d2d36647.b7bc78","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":180,"wires":[["619e7547.321a4c"]]},{"id":"1f303933.a3b3a7","type":"http request","z":"d2d36647.b7bc78","name":"get weather hardoi","method":"GET","ret":"txt","url":"https://api.openweathermap.org/data/2.5/forecast?q=Hardoi,IN&appid=603178c920d390da4404ab6c074c07ae","tls":"","x":370,"y":240,"wires":[["86144bdb.d83878"]]},{"id":"afb554b7.b81d88","type":"function","z":"d2d36647.b7bc78","name":"save weather","func":"global.set(\"weatherHardoi\",\"City: \"+msg.payload.city.name+\"\\n\"+msg.payload.list[0].weather[0].description+\"\\nTemp: \"+Math.round(msg.payload.list[0].main.temp-273.15)+\" C\\nHumid: \"+Math.round(msg.payload.list[0].main.humidity)+\" %\\nPress: \"+Math.round(msg.payload.list[0].main.pressure)+\" hpa\");\nmsg.payload = msg.payload.list[0].weather[0].description;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":240,"wires":[[]]},{"id":"86144bdb.d83878","type":"json","z":"d2d36647.b7bc78","name":"","property":"payload","action":"","pretty":false,"x":570,"y":240,"wires":[["afb554b7.b81d88"]]},{"id":"c5841e17.eb402","type":"inject","z":"d2d36647.b7bc78","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":240,"wires":[["1f303933.a3b3a7"]]},{"id":"19d1814a.ae7f5f","type":"http request","z":"d2d36647.b7bc78","name":"get weather bhubaneswar","method":"GET","ret":"txt","url":"https://api.openweathermap.org/data/2.5/forecast?q=Bhubaneswar,IN&appid=603178c920d390da4404ab6c074c07ae","tls":"","x":390,"y":300,"wires":[["fa4fb81b.e69888"]]},{"id":"e177210e.624c9","type":"function","z":"d2d36647.b7bc78","name":"save weather","func":"global.set(\"weatherBhubaneswar\",\"City:\"+msg.payload.city.name+\"\\n\"+msg.payload.list[0].weather[0].description+\"\\nTemp: \"+Math.round(msg.payload.list[0].main.temp-273.15)+\" C\\nHumid: \"+Math.round(msg.payload.list[0].main.humidity)+\" %\\nPress: \"+Math.round(msg.payload.list[0].main.pressure)+\" hpa\");\nmsg.payload = msg.payload.list[0].weather[0].description;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":300,"wires":[[]]},{"id":"fa4fb81b.e69888","type":"json","z":"d2d36647.b7bc78","name":"","property":"payload","action":"","pretty":false,"x":570,"y":300,"wires":[["e177210e.624c9"]]},{"id":"a6febf23.37dcf","type":"inject","z":"d2d36647.b7bc78","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":300,"wires":[["19d1814a.ae7f5f"]]},{"id":"948b92d9.913a","type":"http request","z":"d2d36647.b7bc78","name":"get weather Chicago","method":"GET","ret":"txt","url":"https://api.openweathermap.org/data/2.5/forecast?q=Chicago,US&appid=603178c920d390da4404ab6c074c07ae","tls":"","x":380,"y":420,"wires":[["36e699a6.85c4a6"]]},{"id":"9a952769.f0e2b8","type":"function","z":"d2d36647.b7bc78","name":"save weather","func":"global.set(\"weatherChicago\",\"City: \"+msg.payload.city.name+\"\\n\"+msg.payload.list[0].weather[0].description+\"\\nTemp: \"+Math.round(msg.payload.list[0].main.temp-273.15)+\" C\\nHumid: \"+Math.round(msg.payload.list[0].main.humidity)+\" %\\nPress: \"+Math.round(msg.payload.list[0].main.pressure)+\" hpa\");\nmsg.payload = msg.payload.list[0].weather[0].description;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":420,"wires":[[]]},{"id":"36e699a6.85c4a6","type":"json","z":"d2d36647.b7bc78","name":"","property":"payload","action":"","pretty":false,"x":570,"y":420,"wires":[["9a952769.f0e2b8"]]},{"id":"92432c32.965c4","type":"inject","z":"d2d36647.b7bc78","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":420,"wires":[["948b92d9.913a"]]},{"id":"caf2cb21.72da28","type":"http request","z":"d2d36647.b7bc78","name":"get weather NewYork","method":"GET","ret":"txt","url":"https://api.openweathermap.org/data/2.5/forecast?q=New%20York,US&appid=603178c920d390da4404ab6c074c07ae","tls":"","x":380,"y":480,"wires":[["261baa40.6da446"]]},{"id":"11194fdb.4d8aa","type":"function","z":"d2d36647.b7bc78","name":"save weather","func":"global.set(\"weatherNewYork\",\"City: \"+msg.payload.city.name+\"\\n\"+msg.payload.list[0].weather[0].description+\"\\nTemp: \"+Math.round(msg.payload.list[0].main.temp-273.15)+\" C\\nHumid: \"+Math.round(msg.payload.list[0].main.humidity)+\" %\\nPress: \"+Math.round(msg.payload.list[0].main.pressure)+\" hpa\");\nmsg.payload = msg.payload.list[0].weather[0].description;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":480,"wires":[[]]},{"id":"261baa40.6da446","type":"json","z":"d2d36647.b7bc78","name":"","property":"payload","action":"","pretty":false,"x":570,"y":480,"wires":[["11194fdb.4d8aa"]]},{"id":"41ddd62c.146ad8","type":"inject","z":"d2d36647.b7bc78","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":480,"wires":[["caf2cb21.72da28"]]},{"id":"9d0bedb8.00c25","type":"http request","z":"d2d36647.b7bc78","name":"get weather Kolkata","method":"GET","ret":"txt","url":"https://api.openweathermap.org/data/2.5/forecast?q=Kolkata,IN&appid=603178c920d390da4404ab6c074c07ae","tls":"","x":380,"y":540,"wires":[["43bb725f.b6de6c"]]},{"id":"d48348ac.7248d8","type":"function","z":"d2d36647.b7bc78","name":"save weather","func":"global.set(\"weatherKolkata\",\"City: \"+msg.payload.city.name+\"\\n\"+msg.payload.list[0].weather[0].description+\"\\nTemp: \"+Math.round(msg.payload.list[0].main.temp-273.15)+\" C\\nHumid: \"+Math.round(msg.payload.list[0].main.humidity)+\" %\\nPress: \"+Math.round(msg.payload.list[0].main.pressure)+\" hpa\");\nmsg.payload = msg.payload.list[0].weather[0].description;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":540,"wires":[[]]},{"id":"43bb725f.b6de6c","type":"json","z":"d2d36647.b7bc78","name":"","property":"payload","action":"","pretty":false,"x":570,"y":540,"wires":[["d48348ac.7248d8"]]},{"id":"fc109f16.3c0b5","type":"inject","z":"d2d36647.b7bc78","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":540,"wires":[["9d0bedb8.00c25"]]},{"id":"9b9ba212.1395b","type":"http request","z":"d2d36647.b7bc78","name":"get weather Mangalore","method":"GET","ret":"txt","url":"https://api.openweathermap.org/data/2.5/forecast?q=Mangalore,IN&appid=603178c920d390da4404ab6c074c07ae","tls":"","x":377,"y":596,"wires":[["94e0328a.049c2"]]},{"id":"4bb746b2.ae1788","type":"function","z":"d2d36647.b7bc78","name":"save weather","func":"global.set(\"weatherMangalore\",\"City: \"+msg.payload.city.name+\"\\n\"+msg.payload.list[0].weather[0].description+\"\\nTemp: \"+Math.round(msg.payload.list[0].main.temp-273.15)+\" C\\nHumid: \"+Math.round(msg.payload.list[0].main.humidity)+\" %\\nPress: \"+Math.round(msg.payload.list[0].main.pressure)+\" hpa\");\nmsg.payload = msg.payload.list[0].weather[0].description;\nreturn msg;","outputs":1,"noerr":0,"x":707,"y":596,"wires":[[]]},{"id":"94e0328a.049c2","type":"json","z":"d2d36647.b7bc78","name":"","property":"payload","action":"","pretty":false,"x":567,"y":596,"wires":[["4bb746b2.ae1788"]]},{"id":"57096911.65dbd8","type":"inject","z":"d2d36647.b7bc78","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":167,"y":596,"wires":[["9b9ba212.1395b"]]}]